* {
    box-sizing: border-box;
}

:root {
    --primary-color: #ffb900;
    --font-heading: Sen, sans-serif;
    --animation: all 0.2s linear;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* ======= Common ====== */
.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp.line-2 {
    --line-clamp: 2;
}

a {
    text-decoration: none;
}

.main-content {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    max-width: calc(100% - 48px);
}

.btn {
    display: inline-block;
    min-width: 118px;
    padding: 0 16px;
    line-height: 50px;
    font-weight: 600;
    font-size: 1.6rem;
    text-align: center;
    color: #ffffff;
    background: #171100;
    border-radius: 999px;
    cursor: pointer;
    transition: var(--animation);
}

.btn:hover {
    opacity: 0.9;
}

.heading {
    font-family: var(--font-heading);
    font-weight: 700;
    letter-spacing: -0.02em;
    color: #171100;
}

.heading.lv1 {
    font-size: 5.8rem;
    line-height: 1.17;
}

.heading.lv2 {
    font-size: 3.8rem;
    line-height: 1.26;
}

.break-all {
    word-break: break-all;
}

/* ======= Header ====== */

.header {
    background-color: #fffcf4;
}

.header.fixed {
    position: sticky;
    top: -28px;
    z-index: 1;
}

.header .body {
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
}

.nav {
    margin-left: auto;
}

.nav ul {
    display: flex;
}

.nav a {
    position: relative;
    font-size: 1.6rem;
    color: #5f5b53;
    padding: 8px 21px;
    transition: var(--animation);
}

.nav a:hover,
.nav li.active a {
    /* font-weight: 600; */
    text-shadow: 1px 0 0 currentColor;
    color: #171100;
}

.nav li.active a::after {
    position: absolute;
    left: 21px;
    bottom: 6px;
    display: block;
    content: "";
    width: 12px;
    height: 2px;
    background: #171100;
    border-radius: 1px;
}

.header .sign-up-btn {
    min-width: 144px;
}

.header .action {
    margin-left: 49px;
}

/* ======= Hero ====== */

.hero {
    padding: 56px 0 65px;
    background: #fffcf4;
}

.hero .body {
    display: flex;
}

.hero .media-block {
    position: relative;
    width: 48%;
}

.hero .content-block {
    width: 52%;
    padding: 64px 0 0 130px;
}

.hero .media-block .img {
    display: block;
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
}

.hero-summary {
    position: absolute;
    width: 270px;
    right: 0;
    bottom: 48px;
    padding: 24px;
    background-color: #ffffff;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
}

.hero-summary .item {
    display: flex;
    align-items: center;
}

.hero-summary .item + .item {
    margin-top: 22px;
}

.hero-summary .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: #fff9e8;
}

.hero-summary .item:nth-of-type(2) .icon {
    background: #fcefff;
}

.hero-summary .item:nth-of-type(3) .icon {
    background: #ebeaff;
}

.hero-summary .info {
    margin-left: 16px;
}

.hero-summary .label {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5f5b53;
}

.hero-summary .title {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

.hero .desc {
    margin-top: 22px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #5f5b53;
}

.hero .cta-group {
    display: flex;
    align-items: center;
    margin: 38px 0 48px;
}

.hero .hero-cta {
    min-width: 180px;
    line-height: 64px;
    background: var(--primary-color);
}

.hero .watch-video {
    display: flex;
    align-items: center;
    margin-left: 28px;
    border: none;
    background: transparent;
    cursor: pointer;
}

.hero .watch-video .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #ffffff;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
}

.hero .watch-video span {
    margin-left: 14px;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

.hero .stats {
    margin: 8px 0 0 -28px;
}

.hero .stats strong {
    padding: 0 8px 0 28px;
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: 4.4rem;
    line-height: 1.23;
    color: #171100;
}

/* ======= Popular ====== */

.popular {
    margin-top: 135px;
    padding: 65px 0;
}

.popular-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popular .popular-top .desc {
    margin-top: 16px;
    width: 458px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #5f5b53;
}

.popular-top .controls {
    display: flex;
    gap: 18px;
}

.popular-top .control-btn {
    width: 40px;
    height: 40px;
    color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--primary-color);
    border-radius: 50%;
    background: transparent;
    cursor: pointer;
    transition: var(--animation);
}

.popular-top .control-btn:hover {
    background: var(--primary-color);
    color: #ffffff;
}

.popular .course-list {
    display: flex;
    gap: 30px;
    margin-top: 55px;
}

.popular .course-item {
    flex: 1;
    background: #ffffff;
    border: 1px solid #e2dfda;
    border-radius: 12px;
    transition: var(--animation);
}

.popular .course-item:hover {
    border-color: transparent;
    box-shadow: 0px 18px 36px rgba(0, 0, 0, 0.05);
}

.popular .course-item .thumb {
    width: calc(100% + 2px);
    height: 278px;
    margin: -1px;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px;
}

.popular .course-item .info {
    padding: 16px 22px 22px;
}

.popular .course-item .head,
.popular .course-item .rating,
.popular .course-item .foot {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popular .course-item .title a {
    padding-right: 6px;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

.popular .rating .value {
    margin-left: 6px;
    font-weight: 400;
    font-size: 1.6rem;
    color: #fea31b;
}

.popular .course-item .desc {
    margin-top: 6px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5f5b53;
}

.popular .course-item .foot {
    margin-top: 12px;
}

.popular .course-item .price {
    font-weight: 600;
    font-size: 1.8rem;
    color: #171100;
}

.popular .course-item .book-btn {
    border: none;
    transition: var(--animation);
}

.popular .course-item .book-btn:hover {
    background: var(--primary-color);
    color: #ffffff;
}

/* ======= Feedback  ====== */

.feedback {
    margin-top: 135px;
    padding: 96px 0;
    background: #2e2100;
}

.feedback-list {
    display: flex;
    overflow: hidden;
}

.feedback-item {
    display: flex;
    width: 100%;
    flex-shrink: 0;
    transform: translateX(-100%);
}

.feedback-item .avatar {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    object-fit: cover;
}

.feedback-item .info .title {
    font-family: var(--font-heading);
    margin-top: 18px;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 1.42;
    color: #f7f7f7;
}

.feedback-item .info .desc {
    margin-top: 4px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #bfbcb3;
}

.feedback-item .dots {
    display: flex;
    margin-top: 28px;
}

.feedback-item .dot {
    margin-right: 6px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #634700;
    cursor: pointer;
}

.feedback-item .dot.active {
    background: #ffb900;
    cursor: default;
}

.feedback-item .content {
    width: 66%;
    margin-left: auto;
}

.feedback blockquote {
    margin-left: 30px;
    font-style: italic;
    font-weight: 400;
    font-size: 2.6rem;
    line-height: 1.54;
    color: #ffffff;
}

/* ======= Features  ====== */

.features {
    margin-top: 135px;
    padding: 65px 0;
}

.features .body {
    display: flex;
    justify-content: space-between;
}

.features .images {
    display: flex;
    gap: 0 30px;
}

.features .images img {
    width: 270px;
    height: 404px;
    object-fit: cover;
    border-radius: 16px;
}

.features img.lower {
    margin-top: 34px;
}

.features .content {
    width: 41%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.features .desc {
    margin-top: 16px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #5f5b53;
}

.features .content .cta-btn {
    margin-top: 32px;
    min-width: 137px;
    background: var(--primary-color);
    color: #ffffff;
}

.features-2nd {
    margin-top: 70px;
}

.features-2nd .body {
    flex-direction: row-reverse;
}

.features-2nd .content {
    width: 49%;
}

.features-2nd .images img {
    width: 470px;
    height: 440px;
}

/* ======= Blog  ====== */

.blog {
    margin-top: 135px;
    padding: 69px 0;
    background: #fffcf4;
}
.blog .blog-top {
    text-align: center;
}

.blog .blog-top .desc {
    width: 448px;
    margin: 16px auto auto;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #696262;
}

.blog .blog-list {
    display: flex;
    margin-top: 55px;
    gap: 30px;
}

.blog .item {
    width: 33.33%;
    background: #ffffff;
    border-radius: 16px;
    transition: var(--animation);
}

.blog .item:hover {
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
}

.blog .item .thumb {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 16px 16px 0px 0px;
}

.blog .item .info {
    padding: 20px 20px 28px;
}

.blog .item .date {
    position: relative;
    display: inline-flex;
    padding-bottom: 12px;
    align-items: center;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5f5b53;
}

.blog .item .date::before {
    content: "";
    width: 6px;
    height: 6px;
    margin-right: 4px;
    display: inline-block;
    border-radius: 50%;
    background: var(--primary-color);
}

.blog .item .date::after {
    position: absolute;
    left: 0;
    right: -27px;
    bottom: 0;
    content: "";
    display: inline-block;
    height: 1px;
    background: #e2dfda;
    border-radius: 0.5px;
}

.blog .item .title a {
    display: inline-block;
    margin: 12px 0;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #171100;
}

.blog .item .btn:hover {
    background: var(--primary-color);
}
